<launch>

  <node name="pick_node" pkg="pick_place" type="pick_node" respawn="false" output="screen">
  </node>

  <node name="place_node" pkg="pick_place" type="place_node" respawn="false" output="screen">
  </node>

  <node name="throttle_node" pkg="topic_tools" type="throttle" args="messages /xtion/depth_registered/points 2 /throttle_filtering_points/filtered_points"/>

</launch>